*/*sw?
*sw?
docs/*.aux
docs/*.log
docs/*.toc
docs/*.out
bin/lwp-*
bin/bp_*
bin/cpanm
bin/xpath
lib
man
bin/analyse_tb_sample
bin/build_vsa
bin/download_ena_project
bin/find_failed_tasks
bin/build_vsa_run
bin/submit_tb_run

