*/*sw?
*sw?
doc/*.aux
doc/*.log
doc/*.toc
doc/*.out
bin/lwp-*
bin/xpath
lib
man
bin/analyse_tb_sample
bin/build_vsa
bin/download_ena_project
bin/find_failed_tasks
bin/build_vsa_run
bin/submit_tb_run

